<div class="container" fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center" style="margin-top: 25px;">
  <mat-card fxLayout="column" fxFlex.gt-md="50" fxFlex.lt-md="100%" *ngIf="showLogin; else passwordReset">
    <mat-card-title>FEEDBACKR - Admin Login</mat-card-title>
    <form #form="ngForm" novalidate (ngSubmit)="login(form.value)" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign.gt-md="start center" fxLayoutGap="2%">
        <mat-form-field fxFlex="100">
          <input matInput placeholder="E-Mail" name="email" type="email" email ngModel required>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <input matInput placeholder="Passwort" name="password" type="password" ngModel required>
        </mat-form-field>
      </div>
      <div *ngIf="loginError" style="color: red!important;">
        <p>{{errorMessage}}</p>
      </div>
      <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-between center" fxLayoutAlign="start">
        <a (click)="toggleLogin()">Passwort vergessen?</a>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" [disabled]="!form.valid" fxFlex.lt-md="100%">Einloggen</button>
      </div>
    </form>
  </mat-card>
  <ng-template #passwordReset>
    <mat-card fxLayout="column" fxFlex.gt-md="50" fxFlex.lt-md="100">
      <mat-card-title>Passwort vergessen?</mat-card-title>
      <form #passwordRestForm="ngForm" novalidate (ngSubmit)="sendPasswordReset(passwordRestForm.value)" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%">
          <mat-form-field fxFlex="100">
            <input matInput placeholder="E-Mail" name="email" type="email" email ngModel required>
          </mat-form-field>
        </div>
        <div *ngIf="loginError" style="color: red!important;">
          <p>{{errorMessage}}</p>
        </div>
        <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign.gt-md="space-between center" fxLayoutGap.lt-md="2%">
          <a (click)="toggleLogin()">Zurück zur Anmeldung</a>
          <button mat-raised-button color="primary" [disabled]="!passwordRestForm.valid" fxFlex.lt-md="100%">Passwort zurücksetzen</button>
        </div>
      </form>
    </mat-card>
  </ng-template>
</div>
