<div class="container" fxLayoutGap="2%" fxLayout="column" fxLayoutAlign="center center" *ngIf="currentTopics && currentTopics.length > 0; else noTopicsAvailable">
  <h1>Aktuell verfügbare Themen</h1>
  <mat-card fxFlex.gt-md="100%" fxFlex.lt-md="100%" *ngFor="let currentTopic of currentTopics">
    <mat-card-header>
      <mat-card-title><b>{{ currentTopic.title }}</b></mat-card-title>
      <mat-card-subtitle>Feedback möglich bis <b>{{ currentTopic.feedbackDeadline | date: 'short' }}</b></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxLayout="column" fxFlex="96%" style="font-size: 1.1em; text-align: justify">
            <p>{{ currentTopic.description }}</p>
          </div>
        </div>
        <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap.lt-md="2%">
          <button mat-raised-button fxFlex.lt-md="100%" color="primary" routerLink="/topic/{{ currentTopic._id }}/new-feedback">Feedback zum Thema geben</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #noTopicsAvailable>
  <div class="container" fxLayoutAlign="center">
    <mat-card fxFlex.gt-md="50%" fxFlex.lt-md="100%">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title>Aktuell sind keine Feedbackthemen verfügbar</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center">
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex="100%" style="font-size: 1.1em; text-align: justify">
              <p>Sobald wieder ein Thema für Feedback bereitsteht, erhaltet Ihr eine E-Mail.</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

